h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
body {
    background-color: beige;
}

/* Navigation */
nav {
    background-color: rgba(0, 0, 0, 0.89);
    width: 70px; 
    box-shadow: 1px 5px 8px;
    border-radius: 10px;
    margin-top: 280px;
    padding: 2px;
    padding-bottom: 5px;
}

.tabs {
    list-style-type: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 2px;
    border-style: none;
}

.tab button{
    text-decoration: none;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    object-fit: contain;    
    width: 85%;
    border-style: none;
    background-color: rgb(243, 239, 239);
    color: black;
}

.tab button:hover {
    color: green;
    border-left: none;

}

.tab button:active {
    color: brown;
    border-left-color: blue;
    border-left-width: 10px;
}

.tab button:link {
    color: purple;
}

/* icons */
.icons {
    width: 90%;
}
.icons:hover {
    filter: invert(90%) sepia(100%) saturate(100%) hue-rotate(240deg) brightness(60%);
}