h1 {
    font-family: "Quicksand";
}

/* Body */
body {
    background: linear-gradient(45deg, #08785c, #178e74, #8ce3dc, #ccf1f1);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Navigation Bar */
nav {
    background-color: rgba(0, 0, 0, 0.89);
    width: 70px; 
    box-shadow: 1px 5px 8px;
    border-radius: 10px;
    margin-top: 280px;
    padding: 2px;
    padding-bottom: 5px;
    user-select: none;
}

/* Within the body */
.content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation styling */
.tabs {
    list-style-type: none;
    padding-left: 2px;
    border-style: none;
}

.tab button{
    text-decoration: none;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    object-fit: contain;    
    width: 85%;
    border-style: none;
    background-color: rgb(243, 239, 239);
    color: black;
}

.tab button:hover {
    cursor: pointer;
}

/* icons */
.icons {
    width: 90%;
}
.icons:hover {
    filter: invert(90%) sepia(100%) saturate(100%) hue-rotate(240deg) brightness(60%);
}

/* Background Clock Styling*/
#bg-clock {
    user-select: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw; /* Full Width*/
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    color:black;
    text-align: center;
    font-size: 100px;
    font-family: 'Quicksand';
    font-weight: 600;
    line-height: 100px;
    z-index: -1; /* Send to back behind nav */
}
