body {
    font-family: Arial, sans-serif;
}

.widget {
    display: none;
    position: absolute;
    width: 350px;
    height: 210px;
    border: 0.5px solid #ccc;
    background-color: rgb(19, 16, 16);
    resize: both;
    overflow-y: auto;
    min-width: 300px;
    min-height: 100px;
    max-width: 450px;
    max-height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.383); /* Slight shadow for depth */
    border-radius: 8px; /* Rounded corners */
}

.widget-header {
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1c1c;
    padding: 10px;
    cursor: grab; /* Better UX for draggable area */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.widget-header:active {
    cursor: grabbing;
}

.todo-widget-content {
    padding: 10px;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.close-widget{
    background-color: #1f1c1c;
    color: white;
    outline: none;
    border-radius: 5px;
    border-color: #fff;
}
/* TODO STYLING*/
#taskList{
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    visibility: visible;
    color: white;
}

#taskList li {
    display: grid;
    grid-template-columns: 20px 280px 20px;
    overflow-wrap: break-word;
    row-gap: 15px;
    column-gap: 10px 20px;
    align-items: center;
    gap: 8px; /* Adds spacing between checkbox and text */
    list-style: none; /* Removes bullet points */
}

#task{
    color:#ccc;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: max-content;
    font-size: 20px;
    background-color: #1f1c1c;
    outline: none;
}

#task:hover{
    background-color: #272323;
}

#addTask{
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background: none;
    outline:#1f1c1c;
}

#addTicon {
    cursor: pointer;
    width: 18px;
    height: 18px;
    object-fit: contain;
}

