.widget{
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    border: 1px solid #3e3a3a;
    background-color: rgb(32, 31, 31);
    resize: both;
    overflow: scroll;
    min-width: 150px;
    min-height: 100px;
    max-width: max-content;
    max-height: max-content;
    background-color: rgb(49, 47, 47);
}

.widget-header{
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: beige;
    background-color: rgb(28, 27, 27);
    padding: 10px;
    cursor: move;
}

.widget-content{
    padding: 10px;
}

/* TODO STYLING */
#todo{
    display: none;
}